body {
    background-color: deepskyblue;
   background: url("../media/image.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 20px 0 50px;
   background-size: 1550px 750px;
    background-attachment:fixed ;

}

.container {
   background:  #A9A9A9;
    border-radius: 100px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    height: 420px;
    margin-bottom: 200px;
    background-attachment:fixed;
    border: 2px solid black;
}

h1 {
    text-align: center; 
    color: black;
    font-family: "Nova Round" , cursive ;
    margin-top: 5px;
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   float:right;
   margin-right:30px;
   margin-left: 1200px;
   margin-bottom: 50px;
   margin-top: 5px;
   cursor: pointer;

   }    

   .btn1 {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: black; /* Белый цвет текста */

    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   float:center;
   margin-left: 170px;
   margin-bottom: 50px;
   margin-top: 5px;
   cursor: pointer;
    font-family: "Calibri" , cursive ;
    font-size: large;
   }    

  



.container_name
{
margin-top: 2px;
margin-left: 10px;
margin-right: 10px;
background: grey;
border: 3px solid black;
border-radius: 10px;
}

.container_tel
{margin-top: 5px;
 margin-left: 10px;
margin-right: 10px;
background: grey;
border: 3px solid black;
border-radius: 10px;
}  


.container_email
{margin-top: 5px;
 margin-left: 10px;
margin-right: 10px;
background: grey;
border: 3px solid black;
border-radius: 10px;
}  

.container_subj
{margin-top: 5px;
 margin-left: 10px;
margin-right: 10px;
background: grey;
border: 3px solid black;
border-radius: 10px;
}  

.container_team
{margin-top: 5px;
 margin-left: 10px;
margin-right: 10px;
background: grey;
border: 3px solid black;
border-radius: 10px;

}  

.container_org
{margin-top: 5px;
 margin-left: 10px;
margin-right: 10px;
background: grey;
border: 3px solid black;
border-radius: 10px;
}  



.data{
    float: center;
    color: white;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 1px;
    margin-right: auto;
  font-family: "Nova Round" , cursive ;
  font-size: large;
   
}


